/* You can add global styles to this file, and also import other style files */
:root {
  --navbar-height: 60px;
}


.navbar {
  min-height: var(--navbar-height);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.not-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.alert-fixed {
  position:fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px
}
a { cursor: pointer }

button:focus, button:active:focus, button.active:focus { /* utilisé pour desactiver la frame quand focus sur un bouton pour angular mat, le css de bootstrap l'override*/
  outline: none !important;
  outline-style: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.vh-minus-navbar {
  height: calc(100vh - var(--navbar-height)); /* 100vh => 100% viewport => pixel */
}

