<div class="card">
  <div class="card-header">
    Compte principal
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      Balance: 100.00 €
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Vacances
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      Balance: 20.00 €
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Ajouter un espace
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <button class="button">+ </button>
    </blockquote>
  </div>
</div>
