<div class="col-md-6 offset-md-3 mt-5 not-selectable">
  <div class="card" id="bodlike">
    <form [formGroup]="form" class="form-signin" (ngSubmit)="register()">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
      <input type="email" formControlName="email" placeholder="Email" class="form-control"/>
      <input type="password" formControlName="password"  placeholder="Mot de passe" class="form-control"/>
      <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" class="form-control"/>
      <div class="input-group">
        <input style="width: 50px" type="text" id="partTel" placeholder="+32" value="+32">
        <input type="number" formControlName="tel"  placeholder="Telephone" class="form-control"/>
      </div>
      <input type="text" formControlName="pays" placeholder="Pays" class="form-control"/>
      <input type="text" formControlName="adresse" placeholder="Adresse" class="form-control"/>
      <div class="input-group">
        <input type="number" formControlName="codePostal" placeholder="Code postal" class="form-control"/>
        <input type="text" formControlName="ville" placeholder="Ville" class="form-control"/>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
      </div>
      <input type="submit" class="btn btn-primary" value="Créer mon compte" [disabled]="form.invalid">
    </form>
    <p>Déjà un compte? <a [routerLink]="['../connection']">Se connecter</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </div>
</div>

