<div class="col-md-6 offset-md-3 mt-5 not-selectable">
  <div class="card" id="bodlike">
    <form [formGroup]="form" class="form-signin" (ngSubmit)="register()">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
      <input type="email" formControlName="email" placeholder="Email" [ngClass]="{invalid : isMailInvalid()}" class="form-control"/>
      <input type="password" matTooltip="tooltip password" matTooltipPosition="right" aria-tooltip="Aria tooltip password" formControlName="password"  placeholder="Mot de passe" [ngClass]="{invalid : isPasswordInvalid()}" class="form-control"/>
      <input type="password" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" [ngClass]="{invalid : isConfirmPasswordInvalid()}" class="form-control"/>
      <div class="input-group">
        <input style="width: 50px" type="text" id="partTel" placeholder="+32" [value]="getDialCode()" readonly>
        <input type="number" formControlName="tel"  placeholder="Telephone" [ngClass]="{invalid : isTelInvalid()}" class="form-control"/>
      </div>
      <select id="pays" name="country" formControlName="pays" [ngClass]="{invalid : isPaysInvalid()}" class="form-control">
        <option *ngFor="let country of countryList" [value]="country.name">{{country.name}}</option>
      </select>
      <!--
      <mat-form-field appearance="" class="form-control">
        <mat-label >Pays</mat-label>
        <mat-select formControlName="pays">
          <mat-option *ngFor="let country of countryList" [value]="country.name">{{country.name}}</mat-option>
        </mat-select>
      </mat-form-field>    -->


      <input type="text" formControlName="adresse" placeholder="Adresse" [ngClass]="{invalid : isAdresseInvalid()}" class="form-control"/>
      <div class="input-group">
        <input type="number" formControlName="codePostal" placeholder="Code postal" [ngClass]="{invalid : isCodePostalInvalid()}" class="form-control"/>
        <input type="text" formControlName="ville" placeholder="Ville" [ngClass]="{invalid : isVilleInvalid()}" class="form-control"/>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
      </div>
      <input type="submit" class="btn btn-primary" value="Créer mon compte" [disabled]="form.invalid">
    </form>
    <p>Déjà un compte? <a [routerLink]="['../connection']">Se connecter</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </div>
</div>

