<div class="container align-content-end">
  <div class="row align-content-end">
    <div class="col-lg-6 col-md-12">
      <div style="display: block">
        <canvas></canvas>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      {{this.doughnutChartColors}}
      <div style="display: block">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"></canvas>
      </div>
    </div>
  </div>
</div>
