<div class="formContainer">
  <table class="table table-bordered table-hover shadow p-3 mb-5 bg-white rounded">
    <thead class="thead">
    <tr>
      <th scope="col"></th>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Pays</th>
      <th scope="col">Confirmé</th>
      <th scope="col">Admin</th>
      <th scope="col">Montant</th>
      <th scope="col"> Appliquer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of usersWithAccount; let index = index">
      <td>{{index}}</td>
      <td>{{user.id}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.country}}</td>
      <td><input class="form-control" type="checkbox" [(ngModel)]="user.confirmed" (ngModelChange)="updatePrivileges({id: user.id, admin: user.admin, confirmed: user.confirmed})"></td>
      <td><input class="form-control" type="checkbox" [(ngModel)]="user.admin" (ngModelChange)="updatePrivileges({id: user.id, admin: user.admin, confirmed: user.confirmed})"></td>
      <td><input class="form-control" type="number" [(ngModel)]="user.amount"></td>
      <td><input class="btn btn-primary" type="submit" (click)="updateBalance(user)"></td>
    </tr>
    </tbody>
  </table>
</div>

