.card{
  display: inline-block;
  width: 40%;
  margin: 20px;
  text-align: center;
}
.jar-card {
  max-width: 240px;
  min-width: 240px;
  min-height: 100%;
}
.fixed-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.bg-lightblue {
  background-color: #ADD8E6;
}
