<mat-sidenav-container>
  <mat-sidenav class="matsidebar not-selectable" #sidenav mode="side" opened [fixedInViewport]="true" [fixedTopGap]="60">
    <ul>
      <li [routerLink]="['summary']" routerLinkActive="text-white">Synthèse</li>
      <li [routerLink]="['jars']" routerLinkActive="text-white">Espace(s)</li>
      <li [routerLink]="['manage']" routerLinkActive="text-white">Gérer</li>
      <li [routerLink]="['consult']" routerLinkActive="text-white">Consulter</li>
      <li [routerLink]="['simulation']" *ngIf="this.isAdmin" routerLinkActive="text-white">Simulation</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

